In [1]:
import pandas as pd
import numpy as np
import importlib
import gc
import sys
import warnings
sys.path.append('./scripts')  
import preprocesamiento
import feature_engineering
import model_autogluon
importlib.reload(preprocesamiento)
importlib.reload(model_autogluon)
importlib.reload(feature_engineering)
warnings.filterwarnings("ignore")

c:\Users\Usuario\.conda\envs\py311lab3\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Importing plotly failed. Interactive plots will not work.
Importing plotly failed. Interactive plots will not work.

# Experimento 7: 
- Autogluon: promediador entre los dos mejores archivos de autogluon.
- Kaggle =  0.242

In [15]:
df_a = pd.read_csv("./outputs/predicciones_exp_06_autogluon_v1_12kfold.csv", sep=',', encoding='utf-8')
df_b = pd.read_csv("./outputs/prediccion_autogluon_2ventanas.csv", sep=',', encoding='utf-8')
df_a = df_a.merge(df_b, on='product_id', how='inner')
df_a

     product_id  pred_windows_12           tn
0         20001      1458.384452  1302.821147
1         20002      1193.750891  1087.357424
2         20003       771.721654   682.975566
3         20004       561.147217   522.412123
4         20005       602.650778   529.132087
..          ...              ...          ...
775       21263         0.023488     0.030325
776       21265         0.096101     0.054927
777       21266         0.093510     0.057644
778       21267         0.074795     0.058903
779       21276         0.040926     0.030344

[780 rows x 3 columns]

In [16]:
df_a['mean'] = (df_a['pred_windows_12'] + df_a['tn']) / 2
df_a = df_a[['product_id', 'mean']].rename(columns={'mean': 'tn'})
output_path = "./outputs/predicciones_exp_06v6_autogluon_mean2.csv"
df_a.to_csv(output_path, sep=',', index=False)

In [17]:
df_a

     product_id           tn
0         20001  1380.602800
1         20002  1140.554158
2         20003   727.348610
3         20004   541.779670
4         20005   565.891432
..          ...          ...
775       21263     0.026906
776       21265     0.075514
777       21266     0.075577
778       21267     0.066849
779       21276     0.035635

[780 rows x 2 columns]