# Experimento 6

Hiperparmetro: presets="high_quality"

In [1]:
import pandas as pd
from autogluon.timeseries import TimeSeriesDataFrame, TimeSeriesPredictor

In [2]:
df = pd.read_csv('../../data/preprocessed/base.csv', sep=',')
df.head()

,periodo,customer_id,product_id,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn,cat1,cat2,cat3,brand,sku_size,stock_final
0,201701,10234,20524,0,2,0.05300,0.05300,HC,VAJILLA,Cristalino,Importado,500.0,NaN
1,201701,10032,20524,0,1,0.13628,0.13628,HC,VAJILLA,Cristalino,Importado,500.0,NaN
2,201701,10217,20524,0,1,0.03028,0.03028,HC,VAJILLA,Cristalino,Importado,500.0,NaN
3,201701,10125,20524,0,1,0.02271,0.02271,HC,VAJILLA,Cristalino,Importado,500.0,NaN
4,201701,10012,20524,0,11,1.54452,1.54452,HC,VAJILLA,Cristalino,Importado,500.0,NaN

In [3]:
dfg = df.groupby(['periodo', 'product_id']).agg({'tn': 'sum'}).reset_index()
dfg.head()

   periodo  product_id          tn
0   201701       20001   934.77222
1   201701       20002   550.15707
2   201701       20003  1063.45835
3   201701       20004   555.91614
4   201701       20005   494.27011

In [4]:
dfg['periodo_dt'] = pd.to_datetime(dfg['periodo'].astype(str), format='%Y%m')
dfg.rename(columns={'tn': 'target', 'product_id':'item_id', 'periodo_dt': 'timestamp'}, inplace=True)
dfg.drop(columns=['periodo'], inplace=True)

In [5]:
productos_ok = pd.read_csv('../../data/raw/product_id_apredecir201912.csv', sep=',')
productos_ok.head()

   product_id
0       20001
1       20002
2       20003
3       20004
4       20005

In [6]:
dfg = dfg[dfg['item_id'].isin(productos_ok['product_id'].unique())]

In [7]:
data = TimeSeriesDataFrame(dfg)
data

                        target
item_id timestamp
20001   2017-01-01   934.77222
20002   2017-01-01   550.15707
20003   2017-01-01  1063.45835
20004   2017-01-01   555.91614
20005   2017-01-01   494.27011
...                        ...
21263   2019-12-01     0.01270
21265   2019-12-01     0.05007
21266   2019-12-01     0.05121
21267   2019-12-01     0.01569
21276   2019-12-01     0.00892

[22349 rows x 1 columns]

In [ ]:
# Data relacionada
covariates = None
# Entrenamos con AutoETS, TemporalFusionTransformer, DeepAr, PatchTST 
# modelos_excluidos=["SeasonalNaive", 
#                    "RecursiveTabular", 
#                    "DirectTabular", 
#                    "CrostonSBA", 
#                    "NPTS", 
#                    "DynamicOptimizedTheta", 
#                    "AutoARIMA"]

predictor = TimeSeriesPredictor(target='target',
                                prediction_length=2, 
                                freq="M",
                                eval_metric = "MSE",
                                known_covariates_names = covariates).fit(data, 
                                                                         presets="high_quality",
                                                                         # excluded_model_types=modelos_excluidos,
                                                                         num_val_windows=3, ### antes le puse un 3
                                                                         val_step_size=1,
                                                                         refit_full=True,
                                                                         hyperparameters="default")
predictions = predictor.predict(data)

c:\Users\Usuario\AppData\Local\Programs\Python\Python311\Lib\site-packages\autogluon\timeseries\predictor.py:197: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  std_freq = pd.tseries.frequencies.to_offset(self.freq).freqstr
Frequency 'M' stored as 'ME'
Beginning AutoGluon training...
AutoGluon will save models to 'c:\Users\Usuario\Documents\Universidad\austral\2025\Lab3\Lab3-MCD\notebooks\model_autogluon\AutogluonModels\ag-20250605_173243'
=================== System Info ===================
AutoGluon Version:  1.2
Python Version:     3.11.4
Operating System:   Windows
Platform Machine:   AMD64
Platform Version:   10.0.26100
CPU Count:          4
GPU Count:          0
Memory Avail:       5.15 GB / 15.89 GB (32.4%)
Disk Space Avail:   415.90 GB / 893.49 GB (46.5%)
===================================================
Setting presets to: high_quality

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': MSE,
 'freq': 'ME',
 'hyperparameters': 'default',
 'known_covariates_names': [],
 'num_val_windows': 2,
 'prediction_length': 2,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': True,
 'skip_model_selection': False,
 'target': 'target',
 'val_step_size': 1,
 'verbosity': 2}

train_data with frequency 'None' has been resampled to frequency 'ME'.
Provided train_data has 22375 rows (NaN fraction=0.1%), 780 time series. Median time series length is 36 (min=4, max=36).
	Removing 62 short time series from train_data. Only series with length >= 8 will be used for training.
	After filtering, train_data has 22020 rows (NaN fraction=0.1%), 718 time series. Median time series length is 36 (min=8, max=36).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'MSE'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2025-06-05 14:32:51
Models that will be trained: ['SeasonalNaive', 'RecursiveTabular', 'DirectTabular', 'NPTS', 'DynamicOptimizedTheta', 'AutoETS', 'ChronosZeroShot[bolt_base]', 'ChronosFineTuned[bolt_small]', 'TemporalFusionTransformer', 'DeepAR', 'PatchTST', 'TiDE']
Training timeseries model SeasonalNaive.
	-1380.4444    = Validation score (-MSE)
	3.96    s     = Training runtime
	0.97    s     = Validation (prediction) runtime
Training timeseries model RecursiveTabular.
	Time series in the dataset are too short for chosen differences [12]. Setting differences to [1].
	Time series in the dataset are too short for chosen differences [12]. Setting differences to [1].
	-1204.4467    = Validation score (-MSE)
	2.99    s     = Training runtime
	0.16    s     = Validation (prediction) runtime
Training timeseries model DirectTabular.
	-1448.7027    = Validation score (-MSE)
	2.37    s     = Training runtime
	0.17    s     = Validation (prediction) runtime
Training timeseries model NPTS.
	-1762.5913    = Validation score (-MSE)
	1.27    s     = Training runtime
	1.18    s     = Validation (prediction) runtime
Training timeseries model DynamicOptimizedTheta.
	-1219.5168    = Validation score (-MSE)
	39.74   s     = Training runtime
	1.95    s     = Validation (prediction) runtime
Training timeseries model AutoETS.
	Warning: AutoETS\W0 failed for 43 time series (6.0%). Fallback model SeasonalNaive was used for these time series.
	Warning: AutoETS\W1 failed for 13 time series (1.8%). Fallback model SeasonalNaive was used for these time series.
	-1252.0036    = Validation score (-MSE)
	12.36   s     = Training runtime
	12.66   s     = Validation (prediction) runtime
Training timeseries model ChronosZeroShot[bolt_base].
	-998.0500     = Validation score (-MSE)
	23.59   s     = Training runtime
	8.16    s     = Validation (prediction) runtime
Training timeseries model ChronosFineTuned[bolt_small].
	Skipping covariate_regressor since the dataset contains no covariates or static features.
	Fine-tuning on the CPU detected. We recommend using a GPU for faster fine-tuning of Chronos.
	Warning: Exception caused ChronosFineTuned[bolt_small] to fail during training... Skipping this model.
	TrainingArguments.__init__() got an unexpected keyword argument 'evaluation_strategy'
Training timeseries model TemporalFusionTransformer.
	-981.8488     = Validation score (-MSE)
	484.22  s     = Training runtime
	0.65    s     = Validation (prediction) runtime
Training timeseries model DeepAR.
	-1100.2971    = Validation score (-MSE)
	265.45  s     = Training runtime
	1.25    s     = Validation (prediction) runtime
Training timeseries model PatchTST.
	-1026.8282    = Validation score (-MSE)
	89.48   s     = Training runtime
	0.42    s     = Validation (prediction) runtime
Training timeseries model TiDE.
	-1241.1812    = Validation score (-MSE)
	402.83  s     = Training runtime
	0.92    s     = Validation (prediction) runtime
Fitting simple weighted ensemble.
	Ensemble weights: {'ChronosZeroShot[bolt_base]': 0.12, 'DynamicOptimizedTheta': 0.1, 'PatchTST': 0.09, 'RecursiveTabular': 0.07, 'SeasonalNaive': 0.33, 'TemporalFusionTransformer': 0.18, 'TiDE': 0.11}
	-825.3238     = Validation score (-MSE)
	2.44    s     = Training runtime
	13.22   s     = Validation (prediction) runtime
Training complete. Models trained: ['SeasonalNaive', 'RecursiveTabular', 'DirectTabular', 'NPTS', 'DynamicOptimizedTheta', 'AutoETS', 'ChronosZeroShot[bolt_base]', 'TemporalFusionTransformer', 'DeepAR', 'PatchTST', 'TiDE', 'WeightedEnsemble']
Total runtime: 1366.87 s
Best model: WeightedEnsemble
Best model score: -825.3238
	WARNING: refit_full functionality for TimeSeriesPredictor is experimental and is not yet supported by all models.
Refitting models via `refit_full` using all of the data (combined train and validation)...
	Models trained in this way will have the suffix '_FULL' and have NaN validation score.
	This process is not bound by time_limit, but should take less time than the original `fit` call.
Fitting model: SeasonalNaive_FULL | Skipping fit via cloning parent ...
Fitting model: RecursiveTabular_FULL
	Time series in the dataset are too short for chosen differences [12]. Setting differences to [1].
	1.83    s     = Training runtime
Fitting model: DirectTabular_FULL
	2.18    s     = Training runtime
Fitting model: NPTS_FULL | Skipping fit via cloning parent ...
Fitting model: DynamicOptimizedTheta_FULL | Skipping fit via cloning parent ...
Fitting model: AutoETS_FULL | Skipping fit via cloning parent ...
Fitting model: ChronosZeroShot[bolt_base]_FULL | Skipping fit via cloning parent ...
Fitting model: TemporalFusionTransformer_FULL | Skipping fit via cloning parent ...
Fitting model: DeepAR_FULL | Skipping fit via cloning parent ...
Fitting model: PatchTST_FULL | Skipping fit via cloning parent ...
Fitting model: TiDE_FULL | Skipping fit via cloning parent ...
Fitting model: WeightedEnsemble_FULL | Skipping fit via cloning parent ...
Refit complete. Models trained: ['SeasonalNaive_FULL', 'RecursiveTabular_FULL', 'DirectTabular_FULL', 'NPTS_FULL', 'DynamicOptimizedTheta_FULL', 'AutoETS_FULL', 'ChronosZeroShot[bolt_base]_FULL', 'TemporalFusionTransformer_FULL', 'DeepAR_FULL', 'PatchTST_FULL', 'TiDE_FULL', 'WeightedEnsemble_FULL']
Total runtime: 8.28 s
Updated best model to 'WeightedEnsemble_FULL' (Previously 'WeightedEnsemble'). AutoGluon will default to using 'WeightedEnsemble_FULL' for predict().
data with frequency 'None' has been resampled to frequency 'ME'.
Model not specified in predict, will default to the model with the best validation score: WeightedEnsemble_FULL
	Warning: DynamicOptimizedTheta_FULL failed for 9 time series (1.2%). Fallback model SeasonalNaive was used for these time series.

In [9]:
predictions_v1 = predictions.copy()
predictions_v1 = predictions_v1.reset_index()
predictions_v1 = predictions_v1[["item_id", "timestamp", "mean"]]
predictions_v1 = predictions_v1[predictions_v1.timestamp == "2020-02-29"]
predictions_v1 = predictions_v1.drop(columns = {"timestamp"})
predictions_v1 = predictions_v1.rename(columns = {"item_id":"product_id", "mean":"tn"})
predictions_v1.head(5)

   product_id           tn
1       20001  1335.368101
3       20002  1049.383669
5       20003   776.909453
7       20004   528.254723
9       20005   502.187073

In [ ]:
predictions_v1.to_csv("../../outputs/prediccion_autogluon_hiperparametros_highquality.csv", sep = ",", index = False)